/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #6699CC;
}

h1 {
  color: yellow;
  text-align: center;
  font-size: 48px;
  margin-top: 100px;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  flex-basis: calc(100% / 3);
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Main styles */
main {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

/* Media queries */
@media (max-width: 767px) {
  header {
    text-align: center;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }
}
